<!DOCTYPE html>
<html layout:decorate="~{/layout}">

<head>
    <title>Dashboard</title>
    </header>
</head>


<div layout:fragment="content">

    <header class="masthead" style="background-image: url('img/rps.png')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Statistics Dashboard</h1>
                        </br>
                        <h2 id="stats"></h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <button class="btn btn-primary" onclick="loadStats()">Reload stats</button>
            </div>
        </div>
    </div>

    <hr>