<!DOCTYPE html>
<html layout:decorate="~{/layout}">

<head>
    <title>Playground</title>
    </header>
</head>


<div layout:fragment="content">
    <header class="masthead" style="background-image: url('img/rps.png')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Rock, paper, scissors!</h1>
                        <span class="subheader">Current player</span>
                        <div class="subheader" id="current-player"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">

                    <h2 class="post-title" id="round-counter">
                        Rounds played so far
                    </h2>

                    <div id="rounds"></div>
                    @if(lastUpdate)
                    <p class="post-meta">Last update
                        {{lastUpdate}}
                    </p>
                    @endif
                </div>
                <hr>
                <button class="btn btn-primary" onclick="playNewRound()">Play</button>
                <button class="btn btn-primary" onclick="restartGame()">Restart game</button>
            </div>
        </div>
    </div>

    <hr>